.slider-wrapper{
    background: #fff url(https://m.360buyimg.com/mobilecms/s1125x939_jfs/t1/68746/18/15003/50973/5dc93da2Ecfde27f6/f2eb01d76f958bf0.jpg) no-repeat center center;
    background-size:cover;
    width:100%;
    overflow: hidden;
    .search-bar{
        background: transparent;
    }
}