/* CSS RESET Start */
$fontColor: #333;
$fontSize: 14px;
$red: #e93b3d;
$gray: #999;

html, body{
	width:100%;
	overflow-x: hidden;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif, Helvetica;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $fontSize;
	color: $fontColor;
}
*, *:before, *:after, *:focus{
	margin:0;
	padding:0;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, nav, section, article{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-overflow-scrolling:touch;
}
input, textarea, select, button{
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	
}
::-webkit-scrollbar{
	display:none;
}
h1, h2, h3, h4, h5, h6{
	font-size: inherit;
	font-weight: inherit;
}
th, address, cite, code, dfn, var, em, strong {
	font-style: normal;
	font-weight: inherit;
}
fieldset, img {
	border: 0
}
legend {
	color: inherit;
}
ol, ul, li {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
/* CSS RESET End */

.clearfix{
	*zoom: 1;
}
.clearfix:after{
	display: block;
	content: "\200B";
	height: 0;
	clear: both;
}
.fl{float:left}
.fr{float:right}
.flex{
	display: -webkit-box;display: -ms-flexbox;display: flex;
}
.flex-col{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	        flex-direction: column;
}
.flex-x-center{
	-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
}
.flex-x-full{
	-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}
.flex-x-space{-ms-flex-pack: distribute;justify-content: space-around;
}
.flex-x-end{
	-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;
}
.flex-y-center{
	-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.flex-y-end{
	-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;
}
.flex-wrap{
	-ms-flex-wrap: wrap;flex-wrap: wrap;
}
.flex-1{
	-webkit-box-flex: 1;-ms-flex: 1;flex: 1;
}
.tc{
	text-align:center;
}
.tc-y{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	        align-items: center;
}
.t-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.t-overflow-2{
	overflow: hidden;
	text-overflow: ellipsis;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.fade{
    opacity: 0.1; 
    -webkit-transition: all 1.5s;	
    -o-transition: all 1.5s;	
    transition: all 1.5s;
}
.fade.fade-entered{
    opacity: 1;
    -webkit-transition: all 1.5s;	
    -o-transition: all 1.5s;	
    transition: all 1.5s;
}
.text-del{
	text-decoration: line-through;
}
.red{
    color: $red;
}
.gray{
    color: $gray;
}

// antd框架样式修改
.am-search{
	background-color: transparent !important;
	font-size:12px;
}
