/* CSS RESET Start */
html, body{
	/* width:100%;
	height: 100%;
	overflow: hidden; */
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif, Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after, *:focus{
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: 0;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, nav, section, article{
	box-sizing: border-box;
	-webkit-overflow-scrolling:touch;
}
input, textarea, select{
	outline: 0;
	-webkit-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
}
h1, h2, h3, h4, h5, h6{
	font-size: inherit;
	font-weight: inherit;
}
th, address, cite, code, dfn, var, em, strong {
	font-style: normal;
	font-weight: inherit;
}
fieldset, img {
	border: 0
}
legend {
	color: inherit;
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
/* CSS RESET End */

.clearfix{
	*zoom: 1;
}
.clearfix:after{
	display: block;
	content: "\200B";
	height: 0;
	clear: both;
}
.flex{
	display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;
}
.flex-col{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	        flex-direction: column;
}
.flex-x-center{
	-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
}
.flex-x-full{
	-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;justify-content: space-between;
}
.flex-x-space{
	-webkit-justify-content: space-around;-ms-flex-pack: distribute;justify-content: space-around;
}
.flex-y-center{
	-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;
}
.flex-y-end{
	-webkit-box-align: end;-webkit-align-items: flex-end;-ms-flex-align: end;align-items: flex-end;
}
.flex-1{
	-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;
}